/*Emil Roland Marun */

.yellow-and-greyscale-1-hex { color: #F4A556; }
.yellow-and-greyscale-2-hex { color: #181818; }
.yellow-and-greyscale-3-hex { color: #2A2A2A; }
.yellow-and-greyscale-4-hex { color: #3A3A3A; }
.yellow-and-greyscale-5-hex { color: #484848; }

html{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #181818;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #F4A556;
    margin: 0px;
}

main{
    color: whitesmoke;
    background-color: #3A3A3A;
}

footer{
    background-color: #484848;
    margin-top: 3rem;
}

a{
    color: inherit;
}

hr{
    border: 4px whitesmoke solid;
    border-radius: 0.3rem;
}

h1{
    margin-bottom: 0rem;
}

h3{
    font-weight:normal;
}

figcaption{
    color:#a3a3a3;
    text-align: right;
    font-size:0.9rem;
}

.centre{
    width: 65rem;
    margin: auto;
    box-sizing: border-box;
    padding:0.5rem;
}

.container{
    float: right;
}

.round{
    border-radius: 0.3rem;
    padding:0.2rem;
}

.nav-bar{
    width: 65rem;
    margin: auto;
    position: top;
    height: 2rem;
}

.nav-item{
    text-decoration: none;
    padding: 0.4rem;
    float: left;
}

.nav-item:hover{
    background-color: #F7CBA0;
    border-radius: 10px;
    transition: 300ms;
}